@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaina+2&family=Bree+Serif&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaina+2&family=Bree+Serif&family=Ubuntu&family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: var(--font1);
    color: white;
}

:root {
    --background-color: #09090a;
    --div-color: black;
    --font1: 'Ubuntu', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background-color: rgb(43, 42, 42);
    
    background-size: cover;
}

.box {
    display: grid;
    padding: 10px;
    grid-template-columns: 70% 30%;
    height: 90vh;
    width: 90vw;
    border-radius: 15px;
}

.box1 {
    display: grid;
    grid-template-rows: 15% 38% 40%;
   background-color: var(--div-color);
   row-gap: 15px;
    padding: 10px;
    border: 1px solid white;
 
}

.top {
    background-color: var(--div-color);
    padding: 10px;
    border-bottom: 1px solid white;
    /* background-color: red; */
}

.top1 {
    width: 100%;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 28px;
    width: 28px;
}

#Main_temp {
    height: 40px;
    width: 40px;
}

.city {
    height: 35px;
    width: 85%;
    text-indent: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    outline: none;
    color: black;
}

.box2 {
    background-color: rgb(72, 72, 79);
    padding: 10px;
    height: 100%;
    border: 1px solid white;
}


.today,
.conditions,
.l {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
}

.today {
    height: 15%;
    padding: 20px;
    justify-content: center;
    text-indent: 10px;
}

.degree {
    display: grid;
    place-items: center;
    height: 30%;
}

.conditions {
    height: 15%;
    justify-content: space-between;
    padding: 25px;
}

.degree h1 {
    font-size: 3.5rem;
}

.img {
    width: 20px;
    height: 20px;
}
#img_1 , #img_2 , #img_3{
    height: 30px;
    width: 30px;
}

.f{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    flex-wrap: wrap;
}

.search_access {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 15%;
    cursor: pointer;
    mix-blend-mode: exclusion;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 35px;
    background-color: white;
    outline: none;
    border: none;
}

.forecast {
    padding: 20px;
}

input[type="range"] {
    margin-top: 15px;
}

 

.line::-webkit-slider-runnable-track{
    background-color: var(--div-color);
    border-radius: 10px;
    border: 1px solid rgb(245, 243, 243);
    color: black;
}
 
 

.loc {
    margin-top: 12px;
    height: 30%;
    display: grid;
    place-items: center;
}

.cond {
    height: max-content;
    padding: 15px;
}

.l{
    height: max-content;
}

 
 
.rangess{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}  

.tops{
    background-color: rgba(255, 255, 255, 0.171);
    height: 100%;
    width: 100%;
}

 

 
